:root {
    --color-opacity: 0.195;
    --color-opacity-low: 0.135;
    --color-opacity-low-2: 0.120;
    --border-opacity: 0.045;
    --border-opacity-low: 0.025;
    --border-opacity-low-2: 0.010;
    --background-color: #111;
    --background-color-secondary: #222;
    --box-radius: 5px;
    --box-padding: 0px 50px;
    --text-color-primary: #fff;
    --text-color-secondary: #aaa;
    --text-shadow-color: rgba(255,255,255,45);
    --link-color: #fff;
    --glow-color: rgba(255, 255, 255, var(--color-opacity));
    --glow-border-color: rgb(255, 255, 255, var(--border-opacity));
    --glow-color-low: rgba(255, 255, 255, var(--color-opacity-low));
    --glow-border-color-low: rgb(255, 255, 255, var(--border-opacity-low));
    --glow-color-low-2: rgba(255, 255, 255, var(--color-opacity-low-2));
    --glow-border-color-low-2: rgb(255, 255, 255, var(--border-opacity-low-2));
    --glow-distance: 10px;
    --glow-blur: 10px;
    --font-family: "Fredoka", sans-serif;
    
}

nav {
    background-color: var(--background-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-left: 50%;
    padding: 10px;
    /* padding-left: 10%; */
    align-items: center;
    border-radius: var(--box-radius);
    z-index: 1;
}

.navbar-start {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: var(--background-color);
    margin:0%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.body {
    position: relative;
    margin-left: 5%;
    /* height: 100vh; */
    width: 90%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--background-color); /* Dark background */
}


.current-page {
    text-decoration: underline;
}

p, h1, h2, h3, h4, h5, h6 {
    position: relative;
}

hr {
    border: 1px solid var(--text-color-secondary);
    opacity: 0.2;
    width: 80%;
}

a {
    color: var(--link-color);
    /* no highlight after click */
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: var(--glow-color);
    cursor: pointer;
}

.content-body {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--box-padding);
    background-color: var(--background-color-secondary);
    border-radius: var(--box-radius);
}

#content-container {
    color: var(--text-color-primary);
    background-color: transparent !important;
    /* justify-content: row; */
    /* margin-top: 35%; */
    /* z-index: 10; */
}

.grid-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200vmin;
    height: 200vmin;
    overflow: hidden;
    margin: -5%;
}

.grid {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    /* grid-template-rows: repeat(20, 1fr); */
}

.glow-text {
    position: relative;
    /* top: 50%; */
    color: var(--text-color-primary);
    opacity: 0.99;
    text-shadow: 0 0 10px var(--text-shadow-color);
}

.no-user-interaction {
    pointer-events: none;
}

h1.glow-text {
    font-size: 10vmin;
}

.grid div {
    border: 1px solid transparent; /* Transparent border initially */
    color: transparent;
    transition: border-color 1s;
    transition: box-shadow 1s;
    transition: color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.grid div:hover {
    border-color: var(--glow-border-color); /* White glow effect */
    box-shadow: 0 0 10px var(--glow-border-color); /* Glowing effect */
    color: var(--glow-color);
}

.glow-bright {
    border-color: var(--glow-border-color); /* White glow effect */
    box-shadow: 0 0 10px var(--glow-border-color); /* Glowing effect */
    color: var(--glow-color);
}

.grid div.longerglow {
    border-color: var(--glow-border-color); /* White glow effect */
    box-shadow: 0 0 10px var(--glow-border-color); /* Glowing effect */
    color: var(--glow-color);
}

.grid div.glow {
    border-color: var(--glow-border-color-low) !important; /* White glow effect */
    box-shadow: 0 0 10px var(--glow-border-color-low) !important; /* Glowing effect */
    color: var(--glow-color-low);
}
.grid div.glowlow {
    border-color: var(--glow-border-color-low-2) !important; /* White glow effect */
    color: var(--glow-color-low-2);
}
.grid div.radtopright {
    border-radius: 0 5px 0 0 !important;
}
.grid div.radtopleft {
    border-radius: 5px 0 0 0 !important;
}
.grid div.radbottomright {
    border-radius: 0 0 5px 0 !important;
}
.grid div.radbottomleft {
    border-radius: 0 0 0 5px !important;
}

/* light mode */
@media screen and (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --background-color-secondary: #eee;
        --box-radius: 5px;
        --box-padding: 0px 50px;
        --text-color-primary: #111;
        --text-color-secondary: #333;
        /* --text-shadow-color: rgba(10,10,10,45); */
        --link-color: #111;
        --glow-color: rgba(0,0,0, var(--color-opacity));
        --glow-border-color: rgb(0,0,0, var(--border-opacity));
        --glow-color-low: rgba(0,0,0, var(--color-opacity-low));
        --glow-border-color-low: rgb(0,0,0, var(--border-opacity-low));
        --glow-color-low-2: rgba(0,0,0, var(--color-opacity-low-2));
        --glow-border-color-low-2: rgb(0,0,0, var(--border-opacity-low-2));
    }
}

@media screen and (max-width: 748px) {
    .content-body {
        max-width: 75%;
    }
    /* body {
        margin-left: 10%;
    } */
    /* .grid-container {
        margin-left: -10%;
        margin-top: -20%;
    } */
    /* h1.glow-text {
        position: inherit !important;   
    } */
    .grid div {
        transition: border-color 0s;
        transition: box-shadow 0s;
        transition: color 0s;
    }
}

@media screen and (max-width: 560px) {
    body {
        /* margin-top: 50%; */
        /* margin-left: 20%; */
        max-width: 100%;
        overflow-x: hidden;
    }
    /* .grid-container {
        margin-top: -50%;
        margin-left: -20%;
    } */
}
/* @media screen and (max-width: 214px) {
    body {
        margin-top: 220%;
        max-width: 50%;
        margin-left: 50%;
    }
    .grid-container {
        margin-top: -220%;
        margin-left: -50%;
    }
} */